<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Mobile Store - Điện thoại Thông minh Chính hãng</title>
        <link
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" 
              crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" media="all"
              href="../css/cart.css" th:href="@{/css/cart.css}"/>
    </head>
    <body>
        <!-- HEADER | START -->
        <div class="header">
            <header>
                <img
                    src="https://cdn.tgdd.vn/2021/09/banner/t10-1200-44-1200x44.png"
                    alt="" />
            </header>
            <nav class="menu-bar-content">
                <ul>
                    <li><a href="#">Smart phone<i class="fa fa-sort-down"
                                                  style="font-size:16px;margin-left: 5px;"></i></a>
                        <div class="menu-dienthoai">
                            <ul>
                                <li><a href="#">IPHONE</a></li>
                                <li><a href="#">SAMSUNG</a></li>
                                <li><a href="#">OPPO</a></li>
                                <li><a href="#">VIVO</a></li>
                                <li><a href="#">XIAOMI</a></li>
                                <li><a href="#">REALME</a></li>
                                <li><a href="#">VSMART</a></li>
                                <li><a href="#">ONEPLUS</a></li>
                                <li><a href="#">NOKIA</a></li>
                                <li><a href="#">MOBELL</a></li>
                                <li><a href="#">ITEL</a></li>
                                <li><a href="#">MASSTELL</a></li>
                                <li><a href="#">ENERGINER</a></li>

                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Accessories<i class="fa fa-sort-down"
                                                  style="font-size:16px;margin-left: 5px;"></i></a>
                        <div class="menu-phukien">
                            <ul>
                                <li><a href="#">Rechargeable Backup Battery</a></li>
                                <li><a href="#">Charger Cables</a></li>
                                <li><a href="#">Screen Protector</a></li>
                                <li><a href="#">Phone Cases</a></li>
                                <li><a href="#">Selfie Stick </a></li>
                                <li><a href="#">Telephone Case</a></li>
                                <li><a href="#">Phone Holder</a></li>
                                <li><a href="#"> Waterproof Phone Pouch</a></li>
                                <li><a href="#">Earphones</a></li>
                            </ul>
                        </div>

                    </li>
                    <li><a href="#">Used machines</a></li>
                    <li class="search-box">
                        <form>
                            <input type="text" name="search" placeholder="Type to search..." />
                            <button type="submit"><i class="fa fa-search"
                                                     aria-hidden="true"></i></button>
                        </form>
                    </li>
                    <!-- CART & AUTHENTICATION | START -->
                    <li>
                        <a th:href="@{/cart/view}">
                            <button id="cart">
                                <i class="fa fa-shopping-basket"
                                   aria-hidden="true"></i>
                                Cart
                            </button>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/login}">
                            <button id="cart">
                                <i class="fas fa-user-circle" aria-hidden="true"></i>
                                Login
                            </button>
                        </a>
                    </li>
                    <!-- CART & AUTHENTICATION | END -->
                </ul>
            </nav>
        </div>
        <section class="slider">
            <div class="container">
                <div class="slider-contain">
                    <div class="slider-contain-left">
                        <div class="slider-contain-left-top">
                            <a href="#"><img
                                    src="https://cdn.tgdd.vn/2021/09/banner/830-300-830x300-6.png"
                                    alt=""></a>

                            <div class="slider-contain-left-top-btn">
                                <i class="fas fa-chevron-left"></i>
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                        <div class="slider-contain-left-bottom">
                            <li class="active">Donate Millions of Love Give 2000 Tons of Rice</li>
                            <li>Galaxy S21 Series 5G Discount Up to 9 Million</li>
                            <li>Pre-order Vivo X7 Pro Get 3 Million </li>
                            <li>Reno6Z | Reno6Z 5G Price From 9,490,000 VND </li>
                            <li>Shop Accessories Up to 50% Off </li>
                        </div>
                    </div>
                    <div class="slider-contain-right">
                        <li>
                            <a href=""><img
                                    src="https://cdn.tgdd.vn/2021/09/banner/laptopdesk(3)-340x340.jpg"
                                    alt=""></a>
                        </li>
                        <li>
                            <a href=""><img
                                    src="https://cdn.tgdd.vn/2021/10/banner/laptopdesk(7)-340x340-1.jpg"
                                    alt=""></a>
                        </li>
                        <li>
                            <a href=""><img
                                    src="https://cdn.tgdd.vn/2021/10/banner/laptopdesk-340x340.jpg"
                                    alt=""></a>
                        </li>
                        <li>
                            <a href=""><img
                                    src="https://cdn.tgdd.vn/2021/10/banner/die%CC%A3%CC%82nthoaidesk-340x340.jpg"
                                    alt=""></a>
                        </li>
                    </div>
                </div>
            </div>
        </section>
        <!-- HEADER | END -->
        <div class="small-container cart-page">
            <th:block th:if="${cartInfo == null || cartInfo.items == null}">
                <center>No items have been added to cart.</center>
            </th:block>
            <th:block th:if="${cartInfo != null && cartInfo.items != null}">
                <center>

                </center>
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                    <div th:each="item : ${cartInfo.items}">
                        <tr>
                            <td>
                                <div class="cart-info">
                                    <img th:src="${item.productInfo.imgLink}" alt="">
                                    <div>
                                        <span th:utext="${item.productInfo.proName}"></span> </br>
                                        <small>Price: <span th:utext="${item.productInfo.price}"></span> USD</small>
                                        <a th:href="@{|/cart/remove/product?proID=${item.productInfo.proID}|}">
                                            <button class="btn btn-remove-cart">
                                                Remove
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td><span th:utext="${item.quantity}"></span></td>
                            <td th:with="itemPrice=${item.quantity * item.productInfo.price}">
                                <span th:utext="${#numbers.formatDecimal(itemPrice,3,2,'POINT')}"></span> USD
                            </td>
                        </tr>
                    </div>
                </table>
                <div class="total-price">
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td><span th:utext="${#numbers.formatDecimal(cartInfo.grandTotal,3,2,'POINT')}"></span> USD</td>
                        </tr>
                        <tr>
                            <td>VAT (10%)</td>
                            <td th:with="vatAmount=${cartInfo.grandTotal * 0.1}">
                                <span th:utext="${#numbers.formatDecimal(vatAmount,3,2,'POINT')}"></span> USD
                            </td>
                        </tr>
                        <tr>
                            <td>Grand Total: </td>
                            <td th:with="cartTotal=${cartInfo.grandTotal + (cartInfo.grandTotal * 0.1)}">
                                <span th:utext="${#numbers.formatDecimal(cartTotal,3,2,'POINT')}"></span> USD
                            </td>
                        </tr>
                    </table>
                </div>
            </th:block>
            <center>
                <a th:href="@{/product/list}">
                    <button class="btn btn-continue " type="back">
                        <i class="fa fa-arrow-left" aria-hidden="true" ></i> Continue Shopping
                    </button>
                </a>
                <th:block th:if="${cartInfo != null && cartInfo.items != null}">
                    <a th:href="@{/cart/clear}">
                        <button class="btn btn-continue" type="back">
                            <i class="fas fa-window-close" aria-hidden="true" ></i> Clear
                        </button>
                    </a>
                </th:block>
                <th:block th:if="${cartInfo != null && cartInfo.items != null}">
                    <a th:href="@{/}">
                        <button class="btn btn-checkout mg " type="back" >
                            <i class="fas fa-shopping-cart" aria-hidden="true" ></i> Checkout
                        </button>
                    </a>
                </th:block>
            </center>
        </div>
    </body>
</html>